/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Archivos de soluciones de Visual Studio
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# Archivos de sistema/OS
.DS_Store
Thumbs.db

# Crash reports de Unity
sysinfo.txt

# Carpetas de builds de WebGL
/[Aa]ssets/[Aa]ssetStoreTools*

# No ignorar archivos .meta (¡Son vitales!)
!/[Aa]ssets/**/*.meta